@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-bold';
    src: url('font/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-semibold';
    src: url('font/Raleway-SemiBold.ttf');
}

* {
    font-family: 'Raleway', Arial, serif;
}

.box-principale {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box; 
}

.box-footer {
    background-color: #F2F2F2;
    padding-bottom: 35px;
    padding-right: 25%;
    height: 200px;
}

.section-card {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

body {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0px;
}

h1{
    margin: 0px;
    font-size: 23px;
    font-family: 'Raleway-bold', Arial, serif;
}

h2 {
    margin: 0px;
    font-size: 23px;
    font-family: 'Raleway-bold', Arial, serif;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
}

form {
    margin-top: 16px;
    margin-bottom: 16px;
}

.img {
    max-width: 100%;
    height: auto;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-items {
    display: inline;
}

.nav-items a {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 36px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.nav-items a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.nav-items a:focus {
    border-top: 2px solid #0065FC;
    color: #0065FC !important;
}

.logo {
    display: inline-block;
    width: 100px;
}

form p {
    display: flex;
}

form p i {
    border: 1px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding: 15px;
}

#city {
    border: 1px solid #F2F2F2;
    padding: 10px;
    font-size: 16px;
    font-family: 'Raleway-semibold', Arial, serif; 
    font-weight: bold;
}

.form-display {
    display: flex;
}

.form-submit-smartphone {
    display: none;
}

.form-submit {
    font-size: 16px;
    font-family: 'Raleway-semibold', Arial, serif; 
    color: white;
    background-color: #0065FC;
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    padding-right: 15px;
    padding-left: 15px;
}

.filter {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

p.filter label {
    font-size: 16px;
    font-family: 'Raleway-semibold', Arial, serif;
    font-weight: bolder;
    padding: 15px;
    padding-left: 8px;
}

.filter-space {
    margin-right: 25px;
}

p.filter a i {
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
}

p.filter a {
    text-decoration: none;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}

p.filter a:hover {
    color: #0065FC;
    background-color: #DEEBFF;
}

p.filter a:hover span {
    color: #0065FC;
    font-size: 16px;
    font-family: 'Raleway-semibold', Arial, serif;
    font-weight: bolder;
    padding: 15px;
    padding-left: 8px;
}

p.filter a span {
    color: black;
    font-size: 16px;
    font-family: 'Raleway-semibold', Arial, serif;
    font-weight: bolder;
    padding: 15px;
    padding-left: 8px;
}

p.information i{
    color: #0065FC;
    margin-right: 5px;
}

.lodging {
    background-color: #F2F2F2;
    width: 69%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lodging-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 75%;
}

.all-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 45%;
}

.lodging-card {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 30%;
    height: 45%;
    background-color: white;
}

.lodging-card a{
    text-decoration: none;
}

.img-lodging {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.lodging-picture {
    width: 95%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.description-lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35%;
    padding-left: 5%;
}

.title-lodging-card {
    margin: 0px;
    font-size: 16px;
    color: black;
    font-family: 'Raleway-bold', Arial, serif;
    font-weight: bold;
}

.price-lodging-card {
    margin: 0px;
    font-size: 14px;
    color: black;
}

.rating {
    font-size: 12px;
    color: #0065FC;
}

.rating-none {
    color: #F2F2F2;
}

.popular {
    background-color: #F2F2F2;
    width: 29%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-aside {
    display: flex;
    justify-content: space-around;
 }

.title-aside i {
    display: flex;
    align-items: center;
    font-size: 23px;
}

.content-card-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.body-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 82%;
}

.popular-card {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 85%;
    height: 30%;
    background-color: white;
}

.popular-card a {
    text-decoration: none;
}

.img-popular {
    display: flex;
    align-items: center;
    width: 40%;
}

.popular-picture {
    width: 95%;
    height: 93%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.description-popular {
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-popular {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.title-popular-card {
    margin: 0px;
    font-size: 16px;
    color: black;
    font-family: 'Raleway-bold', Arial, serif;
    font-weight: bold;
}

.price-popular-card {
    padding-top: 5%;
    margin: 0px;
    font-size: 14px;
    color: black;
}

.more {
    font-size: 20px;
    font-family: 'Raleway-bold', Arial, serif;
    padding-left: 4%;
    text-decoration: none;
    color: black; 
}

.lodging-title {
    padding-left: 4%;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    margin-bottom: 30px;
}

.activity h1 {
    font-size: 20px;
    font-family: 'Raleway-bold', Arial, serif;
    width: 100%;
}

.activity a {
    text-decoration: none;
    color: #333;
}

.all-activity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 92%;
}

.activity-1 {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 24%;
}

.activity-2 {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    height: 50%;
}

.activity-3 {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    height: 40%;
}

.img-activity-1 {
    height: 90%;
}

.img-activity-2 {
    height: 80%;
}

.img-activity-3 {
    height: 75%;
}

.activity-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.title-activity-1 {
    display: flex;
    align-items: center;
    height: 10%;
    padding-left: 10px;
}

.title-activity-2 {
    display: flex;
    align-items: center;
    height: 20%;
    padding-left: 10px;
}

.title-activity-3 {
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 10px;
}

.title-font {
    font-family: 'Raleway-bold', Arial, serif;
    font-weight: bold;
    font-size: 16px;
}

.activity-place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24%;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-title {
    font-size: 20px;
    font-family: 'Raleway-bold', Arial, serif;
}

.footer-link {
    color: #333; 
    text-decoration: none;
    font-family: 'Raleway-semibold', Arial, serif;
}