@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-bold';
    src: url('font/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-semibold';
    src: url('font/Raleway-SemiBold.ttf');
}

* {
    font-family: 'Raleway', Arial, serif;
}

body {
    margin: 0px;
}

.box-principale {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.box-footer {
    background-color: #F2F2F2;
    height: 500px;
    padding-bottom: 3%;
    margin-bottom: 0px;
}

.section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1700px;
}

#order-smart > article {
    order: 2;
}

#order-smart > aside {
    order: 1;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    margin: 0px;
    padding-left: 0px;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

h1{
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Raleway-semibold', Arial, serif;
}

h2{
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Raleway-semibold', Arial, serif;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items {
    display: flex;
    justify-content: center;
    width: 50%;
    border-bottom: 2px solid #F2F2F2;
}

.nav-items a {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    width: 142px;
    text-align: center;
}

.nav-items a:hover {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}

.nav-items a:focus {
    border-bottom: 2px solid #0065FC;
    color: #0065FC !important;
}

.logo {
    display: inline-block;
    width: 80px;
}

form p {
    display: flex;
    justify-content: center;
}

form p i.fa-location-dot {
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    padding: 15px;
}

#city {
    border: 0px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Raleway-semibold', Arial, serif; 
    font-weight: bold;
}

.form-display {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px;
}

.form-submit-smartphone {
    display: flex;
    color: white;
    background-color: #0065FC;
    border-radius: 15px;
    padding: 15px;
    
}

.form-submit {
    display: none;
}

.filter {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

p.filter label {
    font-size: 14px;
    font-family: 'Raleway-semibold', Arial, serif;
    font-weight: bolder;
    padding: 10px;
    padding-left: 8px;
}

.filter-space {
    margin-right: 10px;
    margin-bottom: 10px;
}

p.filter a i {
    padding: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
}

p.filter a {
    text-decoration: none;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}

p.filter a span {
    color: black;
    font-size: 14px;
    font-family: 'Raleway-semibold', Arial, serif;
    font-weight: bolder;
    padding: 10px;
    padding-left: 8px;
}

p.filter label.filter-space{
    margin-right: 100%;
}

.information {
    display: flex;
}

p.information i{
    color: #0065FC;
    margin-right: 5px;
}

.lodging {
    height: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lodging-col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 85%;
}

.all-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 45%;
}

.lodging-card {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 85%;
    height: 15%;
    background-color: white;
}

.lodging-card a{
    text-decoration: none;
}

.img-lodging {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}

.lodging-picture {
    width: 96%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.description-lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 35%;
    padding-left: 5%;
}

.title-lodging-card {
    margin: 0px;
    font-size: 14px;
    color: black;
    font-family: 'Raleway-bold', Arial, serif;
    font-weight: bold;
}

.price-lodging-card {
    margin: 0px;
    font-size: 14px;
    color: black;
}

.rating {
    font-size: 11px;
    color: #0065FC;
}

.rating-none {
  color: #F2F2F2;
}

.popular {
    background-color: #F2F2F2;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.title-aside {
    display: flex;
    justify-content: space-between;
 }

 .title-aside h2{
    margin: 0px;
    padding-left: 5%;
 }

.title-aside i {
    display: flex;
    align-items: center;
    font-size: 23px;
    margin: 0px;
    padding-right: 5%;
    font-size: 18px;
}

.content-card-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.body-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82%;
    flex-wrap: wrap;
}

.popular-card {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 85%;
    height: 25%;
    background-color: white;
}

.popular-card a {
    text-decoration: none;
}

.img-popular {
    display: flex;
    align-items: center;
    width: 42%;
}

.popular-picture {
    width: 100%;
    height: 93%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.description-popular {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-popular {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
}

.title-popular-card {
    margin: 0px;
    font-size: 14px;
    color: black;
    font-family: 'Raleway-bold', Arial, serif;
    font-weight: bold;
}

.price-popular-card {
    padding-top: 5%;
    margin: 0px;
    font-size: 13px;
    color: black;
}

.more {
    font-size: 16px;
    font-family: 'Raleway-bold', Arial, serif;
    font-weight: bold;
    padding-left: 4%;
    text-decoration: none;
    color: black; 
}

.lodging-title {
    padding-left: 5%;
    margin: 0px;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1200px;
}

.activity h2 {
    font-size: 20px;
    padding-left: 5%;
    margin: 0px;
    font-family: 'Raleway-bold', Arial, serif;
}

.activity a {
    text-decoration: none;
    color: #333;
}

.all-activity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 95%;
}

.activity-1 {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 80%;
    height: 14%;
}

.activity-2 {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 100%;
    height: 40%;
}

.activity-3 {
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    width: 100%;
    height: 40%;
}

.img-activity-1 {
    height: 75%;
}

.img-activity-2 {
    height: 75%;
}

.img-activity-3 {
    height: 75%;
}

.activity-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.title-activity-1 {
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 10px;
}

.title-activity-2 {
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 10px;
}

.title-activity-3 {
    display: flex;
    align-items: center;
    height: 25%;
    padding-left: 10px;
}

.title-font {
    font-family: 'Raleway-bold', Arial, serif;
    font-weight: bold;
    font-size: 14px !important;
}

.activity-place {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    height: 35%;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    padding-left: 10%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
}

.footer-title {
    font-size: 20px;
    font-family: 'Raleway-bold', Arial, serif;
    margin: 0px;
}

.footer-link {
    color: #333; 
    text-decoration: none;
    font-family: 'Raleway-semibold', Arial, serif;
}

